wp-content/backupwordpress-fcdc97e4ae-backups/*
wp-content/themes/dnasikt/assets/node_modules/*
wp-content/themes/dnasikt-1.2.0/assets/node_modules/*
wp-content/themes/dnasikt-1.3.0/assets/node_modules/*